<h1>Candies</h1>
    <h2>Sour Candies</h2>
        <% Candy.sour.each do |candy| %>
            <%= form_tag("/comments", method: "post") do %>
                <%= hidden_field_tag :user_id, value = current_user.id %><br />
                <%= hidden_field_tag :candy_id, value = candy.id %><br />
                <%= " #{candy.name} " %><%= label_tag :Comment %><br><%= text_field_tag :name%><%= submit_tag 'Submit Comment', :class => 'btn btn-primary' %>
            <% end %>
        <% end %>

    <h2>Sweet Candies</h2>
        <% Candy.sweet.each do |candy| %>
            <%= form_tag("/comments", method: "post") do %>
                <%= hidden_field_tag :user_id, value = current_user.id %><br />
                <%= hidden_field_tag :candy_id, value = candy.id %><br />
                <%= " #{candy.name} " %><%= label_tag :Comment %><br><%= text_field_tag :name%><%= submit_tag 'Submit Comment', :class => 'btn btn-primary' %>
            <% end %>
        <% end %>
<br></br> 
