<%= form_for @candy do |f| %>

<% if @candy.errors.any? %>
    <p><%= @error %></p>
<% end %>

<%= f.label :name %><br>
<%= f.text_field :name %><br>

<%= f.label :taste %><br>
<%= f.text_field :taste %><br>

<%= f.label :cost %><br>
<%= f.text_field :cost %><br>

<%= f.label :appetite %><br>
<%= f.text_field :appetite %><br>

<%= f.label :count %><br>
<%= f.text_field :count %><br>

 <%= f.submit %>
<% end %>


    <script type="text/javascript" charset="utf-8">
$(function () {
  $('form').submit( function(event) {
    var values = $(this).serialize()
    var posting = $.post('/candies', values);
    posting.done(function(data) {
      var candy = data
      $(".candyName").text(data["name"]);
      $(".candyTaste").text(data["taste"]);
      $(".candyAppetite").text(data["appetite"]);
      $(".candyCount").text(data["count"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
    });
  });
});
</script>
