<%= render 'form' %>


<h2 class="candyName">Candy: <%= @candy.name %></h2>
<p class"candyTaste">Taste: <%= @candy.taste %> candy</p>
<p class="candyAppetite">Appetite: <%= @candy.appetite %></p>
<p class="candyCount">Remaining Count: <%= @candy.count %></p><br>

    <script type="text/javascript" charset="utf-8">
$(function () {
  $('form').submit( function(event) {
event.PreventDefault();
    var values = $(this).serialize();
    var posting = $.post('/candies', values);
    debugger
    posting.done(function(data) {
      var candy = data
      $(".candyName").text(candy.name);
      $(".candyTaste").text(candy.taste);
      $(".candyAppetite").text(candy.appetite);
      $(".candyCount").text(candy.count);

    });
  });
});
</script>

 <%= link_to 'See candies', candies_path %>
 <%= link_to 'Log Out', signout_path%>
