<%= render 'form' %>


<h2 class="candyName">Candy: <%= @candy.name %></h2>
<p class"candyTaste">Taste: <%= @candy.taste %> candy</p>
<p class="candyAppetite">Appetite: <%= @candy.appetite %></p>
<p class="candyCost">Cost: <%= @candy.cost %></p>
<p class="candyCount">Remaining Count: <%= @candy.count %></p><br>



    <script type="text/javascript" charset="utf-8">
$(function () {
  $('form').on("submit", function(e) {
        e.preventDefault();
debugger
var newCandy = $(this).serialize();
var posting = $.post('/candies', newCandy);
posting.done function(data) {

      debugger
      $(".candyName").append(data.name));
      $(".candyTaste").append(data.taste);
      $(".candyAppetite").append(data.appetite);
      $(".candyCount").append(data.count);

    });
    });
  });
</script>

 <%= link_to 'See candies', candies_path %>
 <%= link_to 'Log Out', signout_path%>
