<% if @message %>
<p><%= @message %></p>
<% end %>

<div class="candy">
<h2 class="candyName">Candy: <%= @candy.name %></h2>
<a href="#" class="js-next" data-id="<%=@candy.id%>">Next Candy</a>
<p class="candyTaste">Taste: <%= @candy.taste %> candy</p>
<p class="candyAppetite">Appetite: <%= @candy.appetite %></p>
<p class="candyCost">Cost: $<%= @candy.cost %></p>
<p class="candyCount">Remaining Count: <%= @candy.count %></p>
<%= form_tag("/purchases", method: "post") do %>
  <%= hidden_field_tag :user_id, value = current_user.id %><br />
  <%= hidden_field_tag :candy_id, value = @candy.id %>
  <%= label_tag :payment_type %><br><%= text_field_tag :payment_type %>
  <div class="actions"><%= submit_tag 'Purchase Candy', :class => 'btn btn-primary' %></div>
  <% end %>
</div>
<br>
<% if current_user.employee %>
<button><%= link_to 'Edit Candy', edit_candy_path(@candy) %></button>
<button><%= link_to 'See candies', candies_path %></button>
<button><%= link_to 'Delete candy', delete_path %></button>
<button><%= link_to 'Log Out', signout_path%></button>
<% else %>
<%= link_to 'Log Out', signout_path%>
<%= link_to 'See candies', candies_path %>
<%end%>
<br></br>

  <div id="candyComments"
  <h2>Please Leave a Comment!</h2>
    <%= form_tag("/candies", method: "post") do %>
    <%= label_tag :comment %><br><%= text_field_tag :comment %>
    <div class="actions"><%= submit_tag 'Submit Comment', :class => 'btn btn-primary' %></div>
    <input type="reset" value="Reset" name="Reset"> 
      <% end %>
<br>
    <div id="comments">
<li><div id="allComments"><%= @comment %></div></li>
    
  </div>
<div>     

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(e) {
  e.preventDefault()
  var nextId = parseInt($(".js-next").attr("data-id")) + 1;
  $.get("/candies/" + nextId + ".json", function(data) {
      debugger
  $(".candyName").text("Candy: " + data.name);
  $(".candyTaste").text("Taste: " + data.taste + " candy");
  $(".candyAppetite").text("Appetite: " + data.appetite);
  $(".candyCost").text("Cost: $" + data.cost);
  $(".candyCount").text("Remaining Count: " + data.count);
  $(".js-next").attr("data-id", data.id);
    });
  });
});
class Comment {	
  constructor({description, user_id, candy_id}) {
    this.description = description	    
    this.user_id = user_id
    this.candy_id = candy_id
  }

  getFormatted() {
    return this.description + this.user_id
  }
}

  function candyComment() {
  $('form').submit(function(event) {
  //prevent form from submitting the default way
  event.preventDefault();
  
  $.get("/candies/", function(candies) {  

    debugger
 /* $("#allComments").append("Candy Comment: " + comment.value); 
  var comments = Comment.prototype.comments
  $('form')[0].reset() /*
   
});
   })
  }
  
candyComment()
</script>
