<div class="purchase">
  <% @purchases.each do |purchase| %>
    <li><%= link_to "Purchase ID: #{purchase.id}" , purchase_path(purchase) %></li>
    <p class="purchaseCandyName">Candy: <%=purchase.candy.name%> </p>
    <p class="purchaseCandyTaste">Candy Flavor: <%= purchase.candy.taste %></p>
    <p class="purchaseCandyAppetite">Candy Appetite Rating: <%= purchase.candy.appetite %></p>
    <p class="purchaseCandyCost">Cost of Candy: <%= purchase.candy.cost %> dollars</p>
    <p class="purchasePaymentType">Payment Type: <%= purchase.payment_type %></p>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  function getPurchases() {
    $.getJSON("/purchases/", function(purchases) {
      purchases.forEach(purchase => {   
        $(".Purchase").append("<a href='/purchases/" + purchase.id + "'</a><br>");   
        $(".Purchase").text("Candy: " + purchase.candy.name);
        $(".Purchase").text("Candy Flavor: " + purchase.candy.taste) 
        $(".Purchase").text("Candy Appetite Rating: " + purchase.candy.appetite)
        $(".Purchase").text("Cost of Candy: " + purchase.candy.cost)
        $(".Purchase").text("Payment Type: " + purchase.payment_type)
      })  
    });
  };
  getPurchases();
</script>
<br>
<%= link_to 'Log Out', signout_path %>
<%= link_to 'See candies', candies_path %>
<%= link_to 'User Profile', user_path(@user) %>