 
 <div class="purchase">
<% @purchases.each do |purchase| %>

<li><%= link_to "Purchase ID: #{purchase.id}" , purchase_path(purchase) %></li>
<p class="purchaseCandyName">Candy: <%=purchase.candy.name%> </p>
<p class="purchaseCandyTaste">Candy flavor: <%= purchase.candy.taste %></p>
<p class="purchaseCandyAppetite">Candy appetite rating: <%= purchase.candy.appetite %></p>
<p class="purchaseCandyCost">Cost of candy: <%= purchase.candy.cost %> dollars</p>
<p class="purchasePaymentType">Payment Type: <%= purchase.payment_type %></p>

<% end %>
</div>

 <script type="text/javascript" charset="utf-8">

    
       $(function () {

           $.getJSON("/purchases/" + data_id +, function(purchase) {
              for(var i=0; i < purchases.length; i++) {
             debugger

           $(".purchaseCandyName").text(purchase.candy.name);
           $(".purchaseCandyTaste").text(purchase.candy.taste) 
           $(".purchaseCandyAppetite").text(purchase.candy.appetite)
           $(".purchaseCandyCost").text(purchase.candy.cost)
           $(".purchasePaymentType").text(purchase.payment_type)
            }
           
         });
       });
   
   </script>