<H2>Purchase Reciept:</H2>



<%= form_tag("/purchases", method: "post") do %>
  <%= hidden_field_tag :user_id, value = current_user.id %><br>
  <%= hidden_field_tag :candy_id, value = @purchase.candy_id %>
  <a href="#" class="js-next"  user-id="<%=@purchase.user_id%>" data-id="<%=@purchase.id%>"> Next Purchase</a>
  <h3><%= @purchase.candy.name %></h3>
  Cost of candy: <%= @purchase.candy.cost %> dollars<br>
  Candy flavor: <%= @purchase.candy.taste %><br>
  Candy appetite rating: <%= @purchase.candy.appetite %><br>
  Payment Type: <%= @purchase.payment_type %><br>
  <% end %>


  <br></br>
  <%= link_to 'Log Out', signout_path%>
  <%= link_to 'See candies', candies_path %>
  <%= link_to 'User Profile', user_path(@user) %>


  <script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function(e) {
      e.preventDefault()
      var user_id = parseInt($(".js-next").attr("user-id"))
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/users/" + user_id + "/purchases/" + nextId + ".json", function(purchase) {
        debugger

        $(".PurchaseCandyName").text(purchase.candy.name);
        $(".PurchaseCandyTaste").text(purchase.candy.taste);
        $(".PurchaseCandyAppetite").text(purchase.candy.appetite);
        $(".PurchaseCandyCost").text(purchase.candy.cost);
        $(".PurchaseCandyCount").text(purchase.candy.count);
        $(".js-next").attr("data-id", nextId);

      });
    });
  });
  </script>
