<H2>Purchase Reciept:</H2>


<div class="candy">
<%= form_tag("/purchases", method: "post") do %>
  <%= hidden_field_tag :user_id, value = current_user.id %>
  <%= hidden_field_tag :candy_id, value = @purchase.candy_id %>
  <a href="#" class="js-next"  user-id="<%=@purchase.user_id%>" data-id="<%=@purchase.id%>"> Next Purchase</a>
  <h2 class="purchaseCandyName"><%= @purchase.candy.name %></h2>
  <p class="purchaseCandyTaste">Candy Taste: <%= @purchase.candy.taste %></p>
  <p class="purchaseCandyAppetite">Candy Appetite Rating: <%= @purchase.candy.appetite %></p>
  <p class="purchaseCandyCost">Cost of Candy: <%= @purchase.candy.cost %> dollars</p>
  <p class="purchasePaymentType">Payment Type: <%= @purchase.payment_type %></p>
  <% end %>
</div>

<br></br>
<%= link_to 'Log Out', signout_path%>
<%= link_to 'See candies', candies_path %>
<%= link_to 'User Profile', user_path(@user) %>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $(".js-next").on("click", function(e) {
      e.preventDefault()
      var user_id = parseInt($(".js-next").attr("user-id"))
      var nextId = parseInt($(".js-next").attr("data-id")) + 1;
      $.get("/users/" + user_id + "/purchases/" + nextId + ".json", function(purchase) {
        $(".purchaseCandyName").text(purchase.candy.name)
        $(".purchaseCandyTaste").text("Candy Taste: " + purchase.candy.taste) 
        $(".purchaseCandyAppetite").text("Candy Appetite Rating: " + purchase.candy.appetite)
        $(".purchaseCandyCost").text("Cost of Candy: " + purchase.candy.cost)
        $(".purchasePaymentType").text("Payment Type: " + purchase.payment_type)
        $(".js-next").attr("data-id", purchase.id);
       

      });
    });
  });
  </script>
